# Query my default IP address only on startup
[network]

[bandwidth]
command=$SCRIPT_DIR/bandwidth3
interval=persist
markup=pango
LABEL=<span font='FontAwesome'>  </span>
IFACE=[automatically determined]
DT=3
UNIT=Mb
#  Exposed variables: rx, wx, tx, unit, iface
PRINTF_COMMAND=printf "${LABEL}%-5.1f/%5.1f %s/s\n", rx, wx, unit;

[ip]
command=hostname -I
interval=once
color=#91E78B

# Update time every 5 seconds
[date]
command=date '+%d/%m/%Y'
interval=1

[time]
command=date '+%H:%M:%S'
interval=1

[hostname]
command=hostname
interval=once
